* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.main-page {
    width: 100%;
    background: linear-gradient(270deg, #a5deff 0%, #fcfefe 100%);
    overflow: hidden;
}

.main-page-text-container {
    border-radius: 40px;
    background: #fff;
    padding: 60px;
    box-sizing: border-box;
}

.wrapper-main {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    position: relative;
    padding: 0 15px;
    box-sizing: border-box; 
}

.main-page-left-side {
    max-width: 100%;
}

.gus-img {
    width: 50%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.main-page-hello-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #1b1d1e;
    margin-top: 0;
    margin-bottom: 60px;
}

.main-page-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 112%;
    color: #1b1d1e;
    margin-top: 0;
    margin-bottom: 24px;
}

.main-page-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1b1d1e;
    margin-top: 0;
    margin-bottom: 32px;
}

.main-page-btn {
    color: #fff;
    border: none;
    cursor: pointer;
    background: #ff6b0a;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 8px;
}

.goit-logo {
    margin-top: 32px;
    margin-bottom: 32px;
}

.facts {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.facts-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: #1b1d1e;
    margin-bottom: 32px;
    margin-top: 0;
}

.wrapper-facts {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    position: relative;
    gap: 24px;
    padding: 0 15px;
    box-sizing: border-box; 
}

.facts {
    padding-top: 48px;
    padding-bottom: 100px;
    text-align: center;
}

.facts-descr {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1e;
    width: 772px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 24px;
}

.facts-trezub {
    margin-bottom: 24px;
}

.facts-item {
    flex: 1;
    margin: 0 8px;
    box-sizing: border-box;
    width: 33%;
}

.facts-item-img {
    width: 100%;
}

.facts-item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #1b1d1e;
    margin-top: 0;
    margin-bottom: 32px;
}

.facts-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1e;
    margin-top: 0;
    margin-bottom: 0;
}

.form-container {
    background: linear-gradient(270deg, #a5deff 0%, #fcfefe 100%);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form {
    background: #fff;
    border-radius: 40px;
    padding: 32px 60px 60px 60px;
    box-sizing: border-box;
    text-align: center;
}

.form-trezub {
    margin-bottom: 32px;
}

.form-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #1b1d1e;
    margin-top: 0;
    margin-bottom: 12px;
}

.form-descr {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1e;
    margin-top: 0;
    margin-bottom: 24px;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-field-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1e;
    margin-bottom: 8px;
}

.form-field-name {
    margin-bottom: 24px;
}

.form-input {
    border: 1px solid #005bbb;
    border-radius: 8px;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1b1d1e;
    padding: 12px 24px;
    box-sizing: border-box;
    width: 100%;
}

.form-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    cursor: pointer;
    padding: 12px 24px;
    background: #ff6b0a;
    border-radius: 8px;
    border: none;
}

.form-field-email {
    margin-bottom: 48px;
}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}

@media screen and (max-width: 1170px) {
    .wrapper-main {
        width: 100%;
    }
    
    .wrapper-facts {
        width: 100%;
    }

    .main-page-left-side {
        padding: 20px;
        box-sizing: border-box;
    }

    .main-page-text-container {
        padding: 20px;
    }
    
    .main-page-title {
        font-size: 44px;
    }

    .main-page-hello-text {
        margin-bottom: 20px;
    }

    .gus-img {
        align-self: flex-end;
    }
}

@media screen and (max-width: 785px) {

    .wrapper-main {
        flex-direction: column;
        align-items: center;
    }

    .wrapper-facts {
        flex-direction: column;
        align-items: center;
    }

    .main-page-left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-page-text-container {
        text-align: center;
    }

    .gus-img {
        align-self: center;
    }

    .facts-descr {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .facts-item {
        width: 90%;
    }

    .gus-img {
        width: 70%;
    }

    .form {
        margin: 0 30px;
        padding: 30px;
    }

}

@media screen and (max-width: 500px) {

    .form {
        margin: 0 30px;
        padding: 30px;
    }

    .form-field-label {
        align-self: center;
    }
    .form-trezub {
        margin-bottom: 20px;
    }

    .form-title {
        font-size: 22px;
    }

    .form-descr {
        margin-bottom: 16px;
    }

    .form-field-name {
        margin-bottom: 16px;
    }

    .form-field-email {
        margin-bottom: 30px;
    }

    .facts-title {
        font-size: 28px;
        padding: 10px;
    }

    .main-page-title {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .main-page-hello-text {
        margin-bottom: 16px;
    }

    .main-page-descr {
        margin-bottom: 20px;
    }

    .form-input {
        padding: 8px 16px;
    }

}